[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:g-truc/glm.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/vma"]
	path = ext/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ext/gli"]
	path = ext/gli
	url = https://github.com/g-truc/gli.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
